.backgroundBlue{
    background-color: #055089;
}
.colorBlue{
    color: #055089;
}
.orangeBackground{
    background-color: #A35354;
}
.orangeColor{
    color: #A35354;
}
.orangeColor:hover{
    color: #A35354;
}
.size15em{
    font-size: 1.5em;
}
.colorWhite{
    color: #FFFFFF !important ;
}
.submit{
    border: 1px solid #ced4da;
    padding: 0.5em 3.5em;
    margin-bottom: 1em;
}
.submit:hover{
    text-decoration: none;
}
.grey{
    background-color: #f2f2f2;
}
colorGrey{
    color:#f2f2f2;
}
.fontGrey{
    color: #777;
}
.nounderline {
    text-decoration: none !important
}
.resizeNone{
    resize: none !important;
}
.umbrella{
    background-image: url("../images/umbrella.jpg");
    background-size:100% 100%;
}
.height{
    height: calc(100vh - 272px)!important;
}
.imageLink{
    width: 350px;
    height: 250px;
}
.padding_0{
    padding: 0;
}
.borderNone{
    border-radius: 0!important;
    border: none;
}
.justifyEvenly{
    justify-content: space-evenly;
}
.hoverWhite:hover{
    background-color: white;
    transform: scale(1.1);
    transition: 1s;
}
.hoverMove{
    transition: 500ms ease-in-out;
}
.hoverWhite:hover >.hoverMove{
    margin-top: 20px;
    transition: 1000ms ease-in-out;
}
.listNone{
    list-style-type: none;
}
.fontWeight600{
    font-weight: 600;
}
.imageSection{
    width: 100%;
    height:100vh;
    background: url("../images/deal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.blueFilter{
    background-color: rgba(0, 101, 171, .5);
}

@media only screen and (max-width: 1024px){
    .imageSection{
        height: auto;
    }
}


