.backgroundBlue{
    background-color: #1e478d;
}
.colorBlue{
    color: #1e478d;
}
.colorWhite{
    color: #FFFFFF !important ;
}
.submit{
    border: 1px solid #ced4da;
    padding: 0.5em 3.5em;
    margin-bottom: 1em;
}
.grey{
    background-color: #f2f2f2;
}
colorGrey{
    color:#f2f2f2;
}
.fontGrey{
    color: #777;
}
.nounderline {
    text-decoration: none !important
}
.resizeNone{
    resize: none !important;
}
.umbrella{
    background-image: url("../images/umbrella.jpg");
    background-size:100% 100%;
}
.height{
    height: calc(100vh - 320px)!important;
}
.imageLink{
    width: 350px;
    height: 250px;
}
.padding_0{
    padding: 0;
}
.borderNone{
    border-radius: 0!important;
    border: none;
}
.justifyEvenly{
    justify-content: space-evenly;
}
.hoverWhite:hover{
    background-color: white;
}
.hoverMove{
    transition: 500ms ease-in-out;
}
.hoverWhite:hover >.hoverMove{
    margin-top: 20px;
    transition: 1000ms ease-in-out;
}
.listNone{
    list-style-type: none;
}


